@model DVD
    @Html.EditorFor(model => model.DVD_album_name, new { @Prefix = "New"})
    @Html.EditorFor(model => model.DVD_artist_name,new { @Prefix = "New"})

    <div class="form-group row">
        @Html.LabelFor(x => x.DVD_label_name, "Label name", new {@class = "col-sm-2 col-form-label"})
        <div class="col-sm-10">
            @Html.EditorFor(x => x.DVD_label_name, new { @class = "form-control"})
        </div>
    </div>

    @* <div class="form-group row">
        @Html.LabelFor(x => x.DVD.DVD_release_date, "Release Date", new {@class = "col-sm-2 col-form-label"})
        <div class="col-sm-10">
            @Html.EditorFor(x => x.DVD.DVD_release_date, new { @class =  "form-control"})
        </div>
    </div> *@

    <div class="form-group row">
        @Html.LabelFor(x => x.DVD_price, "Price", new {@class = "col-sm-2 col-form-label"})
        <div class="col-sm-10">
            @Html.EditorFor(x => x.DVD_price, new {  @class =  "form-control" })
        </div>
    </div>

    @* <div class="form-group row">
        @Html.LabelFor(x => x.DVD.DVD_image, "Image", new {@class = "col-sm-2 col-form-label"})
        <div class="col-sm-10">
            @Html.EditorFor(x => x.DVD.DVD_image, new {  @class =  "form-control" })
        </div>
    </div> *@
   
    @* <input type="submit" class="btn btn-success btn-submit-form" value="Form"> *@

